<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <div class="app__form">
      <form action="" class="form">
        <div class="form-destinataire">
          <div class="form-devis-title">
            <h3>Destinataire</h3>
          </div>
          <div class="form-devis-destinataire">
            <select name="" id="">
              <option value="">FTDES</option>
              <option value="">Topnet</option>
              <option value="">Steg</option>
            </select>
          </div>
        </div>

        <div class="form-informations">
          <div class="form-devis-title">
            <h3>Informations</h3>
          </div>
          <div class="form-informations-duree">
            <div class="duree">
              <input type="number" name="" id="" />
              <label for=""> Jours</label>
            </div>
          </div>

          <div class="form-informations-devise">
            <div class="devise">
              <label for=""> Devis</label>
              <input type="number" name="" id="" />
            </div>
          </div>
        </div>

        <div class="form-articles">
          <div class="article-title">
            <h3>Articles</h3>
          </div>

          <div class="article-form">
            <div class="form-left">
              <div class="form-left-numbers">
                <span>1</span>
              </div>

              <div class="form-left-icons">
                <span>U</span>
                <span>D</span>
              </div>
              <div class="form-left-hr"></div>
            </div>
            <div class="form-right">
              <div class="">
                <div class="form-right-service">
                  <label for=""> Type</label>
                  <select>
                    <option value="">Service</option>
                    <option value="">Heures</option>
                    <option value="">Jours</option>
                    <option value="">Produit</option>
                  </select>
                </div>

                <div class="form-right-others">
                  <input type="number" name="" id="" />
                  <input type="number" name="" id="" />
                  <input type="number" name="" id="" />
                  <input type="number" name="" id="" />
                  <input type="number" name="" id="" />
                  <input type="number" name="" id="" />
                </div>
                <div class="form-right-descriptions">
                  <textarea
                    name=""
                    cols="70"
                    rows="3"
                    id=""
                    cols="30"
                    rows="10"
                  >
 Description</textarea
                  >
                </div>
              </div>
              <div class="form-right-icons">
                <span>D</span>
                <span>C</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-total">
          <div class="total-items">
            <p>Total HT</p>
            <p>375,60 €</p>
          </div>
        </div>

        <div class="app_form-button">
          <button class="button-submit">Modifier Le devis</button>
        </div>
      </form>
    </div>
  </body>
</html>
