<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="app__facture_pdf">
      <div class="app__facture-title">
        <div class="facture-title">
          <h1>Devis Provisoire</h1>
          <p>10 mars 2022</p>
        </div>
      </div>

      <div class="app__facture-adresse">
        <div class="facture-adresse">
          <h2>Émetteur</h2>
          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Tadeco</p>
          </div>
          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Tadeco</p>
          </div>
          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Tadeco</p>
          </div>

          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Tadeco</p>
          </div>
        </div>
        <div class="facture-adresse">
          <h2>Destinataire</h2>

          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Topnet</p>
          </div>

          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Topnet</p>
          </div>
          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Topnet</p>
          </div>
          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Topnet</p>
          </div>
          <div class="adresse-details">
            <p class="details-left">Société :</p>
            <p class="details-right">Topnet</p>
          </div>
        </div>
      </div>

      <div class="app__facture-details">
        <div class="facture-details-title">
          <h2>Detail</h2>
        </div>

        <div class="facture-details-table">
          <table class="details-table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Description</th>
                <th class="details-numeric">Prix unitaire HT</th>
                <th class="details-numeric">Quantité</th>
                <th class="details-numeric">TVA</th>
                <th class="details-numeric">Réduction</th>
                <th class="details-numeric">Total HT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Service</td>
                <td>Developement site internet</td>
                <td class="details-numeric">4,00 €</td>
                <td class="details-numeric">4,00 €</td>
                <td class="details-numeric">20%</td>
                <td class="details-numeric">10,00 €</td>
                <td class="details-numeric">70,00 €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="app__facture-totale">
        <div class="facture-totale">
          <p class="totale-left">Total HT</p>
          <p class="totale-right">81,40 €</p>
        </div>
        <div class="facture-totale">
          <p class="totale-left">TVA (1%)</p>
          <p class="totale-right">0,70 €</p>
        </div>

        <div class="facture-totale">
          <p class="totale-left">TVA (19%)</p>
          <p class="totale-right">2,17 €</p>
        </div>
        <div class="facture-totale">
          <p class="totale-left">Total TTC</p>
          <p class="totale-right">84,27 €</p>
        </div>
        <div class="facture-totale">
          <p class="totale-left">Total HT</p>
          <p class="totale-right">81,40 €</p>
        </div>
      </div>
    </div>
  </body>
</html>
